<style>
    .txp {
        color: rgba(151, 186, 218, 0.5);
    }

    .txd {
        color: rgba(151, 186, 218, 0.75);
    }

    .txs {
        color: #97bada;
    }
</style>

<div style="text-align: center">
    <div class="spinner-grow txp" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow txd" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow txs" role="status">
        <span class="sr-only"></span>
    </div>
    <label>Cargando...</label>
</div>


